@import 'reset.css';
@import 'default.css';

/**********
 * Body 
 */

body {
	background-color: #f7f7f7;
	margin: 0;
	padding: 0;
}

/* End of Body */


/**********
 * Header 
 */

.header {
	box-sizing: border-box;
	margin: 0;
	padding: .5em 0;
	background-color: #24292e;
	color: rgba(255, 255, 255, 1);
}

.header h2,
.header nav.site {
	display:inline-block;
}

.header h2 {
	margin: 0 1em;
	padding: 0;	
}

nav.site ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav.site li {
	display: inline-block;
	margin: 0 1em;
	padding: 0;	
}

.header a:link,
.header a:hover,
.header a:visited {
	color: rgba(255, 255, 255, 0.75);
}

.header a:link,
.header a:visited {
	text-decoration: none;
}

.header a:hover {
	text-decoration: underline;
}

/* End of Header */


/**********
 * Content 
 */
 
 main {
 	margin: 0;
 	padding: 1.5em;
 }
 
/* End of Content */
 
 
 /**********
 * Page Title 
 */
 
 h1 {
 	margin: 0 0 1em 0;
 }
 
/* End of Page Title */
 
 
/**********
 * Tabbed Content 
 */

.tabbed .contents {
	margin: 0;
}

/* ToC Heading */
.tabbed .contents .heading {
	display: none;
}

/* Tab Headings */
.tabbed nav ul {
	list-style-type: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #330000;
	color: rgba(255, 255, 255, 1);
}

.tabbed nav li {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: .5em 1em;
	color: rgba(255, 255, 255, 0.75);
}

.tabbed nav li.focus,
.tabbed .tabbed nav li,
.tabbed nav li:hover {
	color: rgba(0, 0, 0, 0.75);
}

.tabbed nav li.focus,
.tabbed .tabbed nav ul {
	background-color:  #ffcc00;
}

.tabbed .tabbed nav li.focus {
    background-color: #ebb800;
}

.tabbed nav li:hover,
.tabbed .tabbed nav li:hover {
	background-color:  #cc9900;
}


/* Show/Hide */
.tabbed > section {
	display: none;	
} 

.tabbed > section.focus {
	display: block;
}

/* Content Panels */
section.tab {
    padding-top: 1em;
}
section.tab.tabbed {
    padding-top: 0;
}

.tabbed > section h2:first-child,
.tabbed .tabbed > section h3:first-child {
	display: none;
} 
 
 
/* End of Tabbed Content */